*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    display: block;
    margin: auto;
    height: 500px;
    width: 80%;
    background-color: rgb(38, 196, 38);
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)),
                url("https://th.bing.com/th/id/R.d9c71156d2c86b664ce41e629f4081e2?rik=%2b1gEFubpnFZT0w&riu=http%3a%2f%2fwww.designindaba.com%2fsites%2fdefault%2ffiles%2fnode%2fnews%2f21663%2fbuteparkcardiff.jpg&ehk=HdXSm7O85widCUBud5NokN4zA49Jctwa9X98IjJ7ccg%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
    padding-top: 50px;
}
p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: wheat;
    font-size: 50px;
    text-shadow: 3px 3px 4px red;
}
#login_btn{
    width: 200px;
    border: 2px solid white;
    background-color: rgb(198, 149, 233);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 100px;
    border-radius: 15px;
    text-decoration: none;
}
